# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup .NET Framework
      run: |
        sudo apt-get update
        curl -LO https://download.visualstudio.microsoft.com/download/pr/7e3ece36-1b36-4e1a-bc6a-4bcdcdb760cc/1c470f56dc40bfa268a4f50b0e26b260/dotnet-framework-targeting-pack-4.7.2.exe
        wine dotnet-framework-targeting-pack-4.7.2.exe /quiet
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore ./Calcolatrice/Calcolatrice.sln
    - name: Build
      run: dotnet build ./Calcolatrice/Calcolatrice.sln --no-restore
    - name: Test
      run: dotnet test ./Calcolatrice/Calcolatrice.sln --no-build --verbosity normal
