# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Install dependencies
      run: dotnet restore Calcolatrice.sln
    - name: Build
      run: dotnet build Calcolatrice.sln --no-restore --configuration Release
    - name: Test with the dotnet CLI
      run: dotnet test Calcolatrice.sln --no-build --configuration Release --verbosity normal --runtime win-x86

